html, body.flat
{
   /*position: fixed;*/
   top:0;
   left:0;
   margin:0;
   height: 100%;
   width: 100%;
   background: #EAEAEA;
   /*background: rgb(255,255,255);*/
   overflow: hidden;
   /* Old browsers */

   /*background: -moz-radial-gradient(*/
      /*center center,*/
      /*circle cover,*/
      /*rgb(255, 255, 255), rgb(215, 215, 215)*/
   /*); *//* FF3.6+ */
/**/
   /*background: -webkit-radial-gradient(*/
      /*center center,*/
      /*circle cover,*/
      /*rgb(255, 255, 255), rgb(215, 215, 215)*/
   /*); *//* Chrome10+,Safari5.1+ */
/**/
   /*background: -o-radial-gradient(*/
      /*center center,*/
      /*circle cover,*/
      /*rgb(255, 255, 255), rgb(215, 215, 215)*/
   /*); *//* Opera 12+ */
/**/
   /*background: -ms-radial-gradient(*/
      /*center center,*/
      /*circle cover,*/
      /*rgb(255, 255, 255), rgb(215, 215, 215)*/
   /*); *//* IE 10ish */
/**/
   /*background: -ms-radial-gradient(*/
      /*center center,*/
      /*circle cover,*/
      /*rgb(255, 255, 255), rgb(215, 215, 215)*/
   /*); *//* W3C Standard */
/**/
   /*filter: progid:DXImageTransform.Microsoft.gradient(*/
      /*startColorstr='#ffffff', endColorstr='#efefef',GradientType=1*/
   /*); *//* IE6-9 fallback on horizontal gradient */

    font-family: 'Open Sans', sans-serif;
}

.flat a, body.flat a:active, body.flat a:visited
{
    color: RGB(95, 150, 20);
    text-decoration: none;
    font-weight: 400;
}

.flat a:hover
{
    color: RGB(95, 150, 20);
    text-decoration: none;
    font-weight: 400;
}

.flat .nav-container {
    position: fixed;
    top: 0px;
    left: 0;
    height: 80px;
    width: 100%;
    background: #EAEAEA;
}

.flat .main-navigation .icon
{
    height: 25px;
    width: 25px;
    background:url('../images/icons.png');
    display: block;
}


.flat .nav-container .nav-item {
    display: inline-block;
    margin: 0 10px;
    width: 35px;

    -moz-opacity: .5;
    -webkit-opacity: .5;
    -o-opacity: .5;
    opacity: .5;
    filter: alpha(opacity=50%);
    cursor : pointer;

}

.flat .nav-container .nav-item .icon {
    margin: 0px auto;
}

.flat .nav-container .nav-item:hover
{
    -moz-opacity: 1;
    -webkit-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100%);
}

.flat .nav-container .nav-item .icon.home {
    background-position: 0 0;
}

.flat .nav-container .nav-item .icon.trail {
    background-position: -100px 0;
}

.flat .nav-container .nav-item .icon.user {
    background-position: -75px 0;
}
.flat .nav-container .nav-item .lists {
    background-position: -25px 0;
}

.flat .nav-container .nav-item .icon.corporate {
    background-position: -50px 0;
}

.flat .logo-container
{
   position: fixed;
   top: 5px;
   right: 15px;
}

.flat .logo-container .logo
{
   margin: 7px 2px;
   display: inline-block;
}

.flat .logo-container img
{
   float: right;
   height : 55px;
   margin-right: 10px;
}

.flat .logo .feather,
.flat .logo .gear
{
   font-family: 'Open Sans', sans-serif;
   font-size  : 20px;
}

.logo .feather
{
   font-weight: 300;
   color : RGB(95, 150, 20);
   margin-right: -4px;
}

.logo .gear
{
   color: RGB(90, 90, 90);
}

body.flat .main-content {
    margin-top:80px;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}

.navtext {
    display: block;
    text-align: center;
    font-size: 14px;

}

.bubble {
    padding: 30px;
    margin: 20px auto;
    max-width: 700px;

}

#trails-title {}

#trails-title .trails-title-container {}

#trails-title .trails-title-container h2
{
    font-size: 30pt;
    font-weight: 300;
    color: #666666;
}


#trails-title .trails-title-container,
.flat .trail-list-container
{
    width: 50%;
    margin: auto;
}

.flat .trail-list-container .trail-list
{
    padding: 0px;
}

.flat .trail-list-container .trail-list li
{
    list-style: none;
    margin-bottom: 20px;
    font-size: 16pt;
}
}

.flat .trail-list-container .trail-list .trail-item-container
{

}
