/* general forms */
/* overrides the CSS values for flat.css */
body.flat .main-content, .main-content
{
    margin-left: 15%;
    width: 50%;
    min-width: 500px;
}

fieldset
{
    border-width: 0px;
    width: 80%;
    margin: 5px 0px;
    padding: 0px;
}

textarea, select, input, button
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    outline: none;
}

input[type='submit'],
button
{
    border-width: 0px;
    background-color: #666;
    color: RGB(190, 255, 110);
    font-size: 36px;
    padding: 0px 70px 0px 15px;
    float: right;
    margin-top: 30px;
}

select,
textarea,
input[type='text']
{
    width: 100%;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #eee;
    color: #666;
    padding: 5px 15px;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-shadow: inset 2px 2px 3px 0px rgba(95, 95, 95, .45);
    -webkit-box-shadow: inset 2px 2px 3px 0px rgba(95, 95, 95, .45);
    box-shadow: inset 2px 2px 3px 0px rgba(95, 95, 95, .45);
}

textarea
{
    resize: none;
}

select
{
    /* TODO: till we can figure something out
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    */
}

label
{
    margin-left: 5px;
    font-size: 30px;
    /* maybe these might be moved to specific forms */

    font-weight: 300;
    color: #666;
    display: block;
}

/* Form: Gear List */
#create-gearlist
{}

#create-gearlist h1
{
    font-weight: 300;
    font-size: 40px;
    margin: 15px 0px 25px -30px;
    color: #666;
}

/* Form: Gear List Create Item */
#create-item-dialog
{
    position: absolute;
    background-color: #eaeaea;
    border: #aaa solid 1px;
    top: -1px;
    z-index: 100;
    margin: 0px -40%;
    height: 80%;
    width: 80%;
    left: 50%;
    -moz-box-shadow: 1px 1px 3px 0px #555;
    -webkit-box-shadow: 1px 1px 3px 0px #555;
    box-shadow: 1px 1px 3px 0px #555;
}

#create-item-dialog .pop
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#create-item-dialog .content
{
    vertical-align: top;
    width: 45%;
    height: 100%;
    float: left;
    margin: 0px 25px 0px 10px;
}

#create-item-dialog .content > *
{
    margin-left: 15px;
    font-weight: 300;
}

#create-item-dialog .content h1
{
    font-size: 45px;
    color: #888;
    padding-bottom: 15px;
}

#create-item-dialog .get-suggestions input[type='text']
{
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
    width: -o-calc(100% - 90px);
    width: calc(100% - 90px);
}

#create-item-dialog .get-suggestions input[type='submit']
{
    font-size: 16px;
    margin: 0px;
    width : 80px;
    text-align: center;
    float: none;
    text-align: center;
    padding: 5px 0px;
}

#create-item-dialog .content .add-gear-button
{
    float: none;
    position: absolute;
    bottom: 10px;
    right: 55%;
}

#create-item-dialog .gear-suggestion
{
    overflow: auto;
    height: 100%;
    height: calc(100% - 15px);
    margin-left: 55%;
    width: 50%;
}
#create-item-dialog .gear-suggestion .item-container
{

}

#create-item-dialog .gear-suggestion .item-container .item-image
{

}