body > .logo-container
{
    display: none;
}

#gear-list-display
{
    position: absolute;
    float: right;
    right: 60px;
    min-width: 550px;
    width: 55%;
    max-width: 650px;
    top: 0px;
    border-left: #ccc, solid 1px;
    border-right: #fff solid 8px;
    height: 100%;
    background-color: #eee;
    -moz-box-shadow: 1px 1px 3px 0px #555;
    -webkit-box-shadow: 1px 1px 3px 0px #555;
    box-shadow: 1px 1px 3px 0px #555;
}

#gear-list-display svg
{
    position: absolute;
    left: 100%;
    top: 80px;
    margin-left: -28px;
    width: 60px;
    height: 60px;
}

#gear-list-display #close-button
{
    position: absolute;
    fill: white;
}

#gear-list-display .gear-list-item:first-child
{
    margin-top: 150px;
}

#gear-list-display .gear-list-item
{
    margin: 5% 10% 5% 20px;
    font-weight: 300;
}

#gear-list-display .gear-list-item .list-title
{
    font-size: 45px;
    color: #555;
    margin-bottom: -10px;
}

#gear-list-display .gear-list-item .list-description
{
    font-size: 20px;
    color: #999;
}

#gear-list-display .gear-list-item .list-date
{
    color: RGB(95, 150, 20);
    font-size: 14px;
}

#gear-list-display .list-icon
{
    float: left;
    height: 120px;
    width: 120px;
    margin: 20px 5% 30px;
    vertical-align: top;
    border-radius: 60px;
    background-color: #ccc;
    -moz-box-shadow: inset 2px 3px 8px #000000;
    -webkit-box-shadow: inset 2px 3px 8px #000000;
    box-shadow: inset 2px 3px 8px #000000;
}