.main-content
{
    margin-left: 20px;
}

#gear-list-display-header .list-info
{
    width: 65%;
}

#gear-list-display-header .list-info h1
{
    color: #888;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 30pt;
    margin: 0px;
    display: inline;
}

#gear-list-display-header .list-info .trail-location
{
    color: RGB(95, 150, 20);
    font-size: 30px;
    font-weight: 300;
    display: inline;
    margin-left: 5px;
}

#gear-list-display-header .list-info .user
{
    color: #9e9e9e;
}


