#map {
    position: fixed;
    height:75%;
    width: 100%;
    opacity: .75;
    min-height: 500px;
}

.intro {
    width: 380px;
    bottom: 300px;
    left: 0px;
    position: relative;
    font-size: 30px;
    font-weight: 300;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background: rgba(255, 255, 255, 0.55);
    padding: 30px 30px 30px 50px;
    z-index: 10000;
}

.intro a
{
    color : RGB(95, 150, 20);
    text-decoration: none;
}

.intro .close {
    cursor: hand;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 15px;
}

#map .leaflet-control-zoom > .leaflet-control-zoom-in,
#map .leaflet-control-zoom > .leaflet-control-zoom-out
{
    font-family: 'Open Sans', sans-serif;
    border-radius: 0px;
    font-weight: 300;
}

#map .leaflet-control-zoom > .leaflet-control-zoom-out
{
}

.tooltip {
    background-color:#FFFBF0;
    padding:5px;
    width:200px;
    text-align: center;
}