body {
    background-color: #116937;
    font-family: 'Lato', sans-serif;
}

.trail-location,
.list-weight,
.list-description {
    margin: 10px 0;
}

.rei-product,
.ems-product {
    max-height: 160px;
}

.bubble {
    background-color: #FFFFFF;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 30px;
    margin: 20px auto;
    max-width: 700px;
}

.bubble h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.bubble h1 {
    margin-top: 0px;
}

.bubble h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.gear-data {
    width: 100%;
    margin: 5px 0px;
}

.provider {
    position: relative;
    display: inline-block;
}

.provider .provider-overlay {
    display: none;
    background-color:rgba(255,255,255,0.5);
    position:absolute;
    z-index:100;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    text-align: center;
    pointer-events : none;
}

.provider .provider-overlay .overlay-text {
    position:absolute;
    top:50%;
    height:10px;
    margin-top:-5px;
    width: 100%;
}

.provider:hover .provider-overlay {
    display: block;
}

/*create list view*/
.add-gear {
    display: none;
}

button {
    border: none 0px;
    padding:  4px 10px;
    color: #FFFFFF;

    -moz-border-radius: 5px;
    border-radius: 5px;

    cursor: hand;
    cursor: pointer;

    background-color: #6D00FC;
    background: #6D00FC; /* Old browsers */
    background: -moz-linear-gradient(top, #6D00FC, #5600C7); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(#6D00FC), color-stop(#5600C7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #6D00FC,#5600C7); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #6D00FC,#5600C7); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #6D00FC,#5600C7); /* IE10+ */
    background: linear-gradient(to bottom, #6D00FC,#5600C7); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6D00FC', endColorstr='#5600C7',GradientType=0 ); /* IE6-9 */
}

button:hover{
    background: #5600C7;
}
