body {
    background-color: #116937;
    font-family: 'Lato', sans-serif;
}

.trail-location,
.list-weight,
.list-description {
    margin: 10px 0;
}

.rei-product,
.ems-product {
    max-height: 160px;
}

.bubble {
    background-color: #FFFFFF;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 30px;
    margin: 20px auto;
    max-width: 700px;
}

.bubble h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.bubble h1 {
    margin-top: 0px;
}

.bubble h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.gear-data {
    width: 100%;
    margin: 5px 0px;
    font-size: 13px;
}

.gear-notes {
    display: inline-block;
    width : 50%;
    margin: 0px 20px;
    vertical-align: top;
}

.provider {
    position: relative;
    display: inline-block;
}

.provider .provider-overlay {
    display: none;
    background-color:rgba(255,255,255,0.5);
    position:absolute;
    z-index:100;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    text-align: center;
    pointer-events : none;
}

.provider .provider-overlay .overlay-text {
    position:absolute;
    top:50%;
    height:10px;
    margin-top:-5px;
    width: 100%;
}

.provider:hover .provider-overlay {
    display: block;
}

.map {
    display: inline-block;
}

.list-info {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}

.provider-links {
    display: block;
}

.provider-links a {
    margin : 0px auto;
}

.lists a {
    display : block;
}

/*navigation*/
.navigation {
    display: block;
    position: fixed;
    top: 20%;
    left: 0px;
}

.navigation ul {
    display: block;
    padding: 0px;
    width: 100%;
}

.navigation li {
    display: block;
    list-style-type: none;
    background-color: #FFFFFF;
}

.navigation a {
    display: block;
    text-decoration: none;
    padding: 5px 20px;
    width: 100%;
    color:#116937;
}

.navigation a:visited {
    color: #116937;
}

.navigation li:hover {
    background-color: #116937;
}

.navigation li:hover a {
    color: #FFFFFF;
}

